page-grupos {
	
	.header .col {
	    background-color: #456ba5;
	    text-align: center;
	    color: #f4f4f4;
	  }

	  .col {
	    border: solid 1px grey;
	    border-bottom-style: none;
	    border-right-style: none;
	  }

	  .row .equipo {
	    	width: 50%;
	  }

	  .row .dato{
	    text-align: center;
	  }

	  .col:last-child {
	    border-right: solid 1px grey;
	  }

	  .row:last-child .col {
	    border-bottom: solid 1px grey;
	}
	
}
