<ion-header no-border no-margin>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Fase Grupos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
	<br>
  <div no-padding no-margin>
    <ion-list *ngFor="let allGroup of puestosTodosGrupos">
      <h4 ion-text text-center color="primary">
        {{allGroup['name']}}
      </h4>
      <ion-grid nopadding>
        <!--<ion-row style="background:#456ba5; color: white;">-->
          <!--<ion-col col-12 text-center color="light"><h6>Grupo A</h6></ion-col>-->
        <!--</ion-row>-->
        <ion-row style="background:#456ba5; color: white;">
          <ion-col col-5>Equipos</ion-col>
          <ion-col col-1>J</ion-col>
          <ion-col col-1>G</ion-col>
          <ion-col col-1>E</ion-col>
          <ion-col col-1>P</ion-col>
          <ion-col col-2>Goles</ion-col>
          <ion-col col-1>P.</ion-col>
        </ion-row>
        <ion-row *ngFor="let puestos of allGroup.standings.data">
          <ion-col col-5>{{puestos.team_name}}</ion-col>
          <ion-col col-1>{{puestos.overall.games_played}}</ion-col>
          <ion-col col-1>{{puestos.overall.won}}</ion-col>
          <ion-col col-1>{{puestos.overall.draw}}</ion-col>
          <ion-col col-1>{{puestos.overall.lost}}</ion-col>
          <ion-col col-2>{{puestos.overall.goals_scored + ':' + puestos.overall.goals_against + ' ' + puestos.total.goal_difference}}</ion-col>
          <ion-col col-1>{{puestos.total.points}}</ion-col>
        </ion-row>
      </ion-grid>
      <br>
    </ion-list>
  </div>
</ion-content>
